= simple_form_for(@finder) do |f|
  = f.error_notification

  .form-inputs
    = f.input :gender, :as => :radio, :label => "Gender", :collection => [["Male", false], ["Female", true]]

  .form-actions
    = f.button :submit


